In [46]:
#Import the dependencies
import pandas as pd
import gmaps
import gmaps.datasets
import requests
#Import the API key.
from config import g_key

In [47]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [48]:
#Store the CSV created earlier for hotels into a DataFrame.
hotel_df = pd.read_csv("data/WeatherPy_vacation.csv")
hotel_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,4,Tonekabon,IR,77.00,36.82,50.87,clear sky,Hotel Sadra
1,7,Puerto Ayora,EC,75.20,-0.74,-90.35,few clouds,Finch Bay Galapagos Hotel
2,18,Belmonte,BR,75.20,-15.86,-38.88,clear sky,Pousada Monte Carmelo O Pão
3,21,Hithadhoo,MV,83.44,-0.60,73.08,scattered clouds,Scoop Guest House
4,22,Boromo,BF,87.96,11.75,-2.93,few clouds,Sama Camp

In [49]:
#Create separate DataFrames for the 4 selected cities: Alcala De Henares,Toledo,Pozoblanco,Moura
vacation_start_df = hotel_df.loc[hotel_df["City"]=="Alcala De Henares"]
vacation_second_df = hotel_df.loc[hotel_df["City"]=="Toledo"]
vacation_third_df = hotel_df.loc[hotel_df["City"]=="Pozoblanco"]
vacation_end_df = hotel_df.loc[hotel_df["City"]=="Moura"]

In [50]:
start_coords = vacation_start_df["Lat"].values[0], vacation_start_df["Lng"].values[0]
second_coords = vacation_second_df["Lat"].values[0], vacation_second_df["Lng"].values[0]
third_coords = vacation_third_df["Lat"].values[0], vacation_third_df["Lng"].values[0]
end_coords = vacation_end_df["Lat"].values[0], vacation_end_df["Lng"].values[0]
print(start_coords)
print(second_coords)
print(third_coords)
print(end_coords)

(40.48, -3.36)
(39.83, -4.0)
(38.38, -4.85)
(38.14, -7.45)

In [51]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start_coords,end_coords,waypoints=[second_coords,third_coords],
    travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
itinerary_df = pd.concat([vacation_start_df,vacation_second_df,vacation_third_df,vacation_end_df])
itinerary_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
76,279,Alcala De Henares,ES,80.6,40.48,-3.36,clear sky,AC Hotel by Marriott Alcala de Henares
96,333,Toledo,ES,82.0,39.83,-4.00,clear sky,Hotel Carlos V Toledo
140,477,Pozoblanco,ES,80.6,38.38,-4.85,clear sky,Hacienda Barriche
122,434,Moura,PT,77.0,38.14,-7.45,clear sky,Hotel de Moura

In [53]:
#Drop the index of the dataframe
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,279,Alcala De Henares,ES,80.6,40.48,-3.36,clear sky,AC Hotel by Marriott Alcala de Henares
1,333,Toledo,ES,82.0,39.83,-4.00,clear sky,Hotel Carlos V Toledo
2,477,Pozoblanco,ES,80.6,38.38,-4.85,clear sky,Hacienda Barriche
3,434,Moura,PT,77.0,38.14,-7.45,clear sky,Hotel de Moura

In [54]:
#Create an information box to add to the map.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat","Lng"]]

In [55]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))